<div style="text-align:center">
  <img
    src="../assets/attachment_logo_lyst4516.png"
    height="100"
    width="100"
    class="logo"
    alt="Lco Logo"
  />
  <h1 class="app-title">Lco ToDo List</h1>
</div>
<div class="container">
  Add a ToDo...
  <br />
  <input type="text" class="input-text" placeholder="Type A Todo" />
  <button class="add-btn" (click)="addItem()">Add Todo</button>
  <div class="list">
    <ul>
      <li>
        <input type="checkbox" name="isDone" /> Task 1
        <button class="btn" (click)="deleteItem()">Delete</button>
      </li>
    </ul>
  </div>
</div>
